.modal__contenedor {
  display: flex;
  align-items: center;
}

.carrito__img {
  width: 200px;
  padding: 30px;
  margin-right: 25px;
}

.continuar__pago {
  color: $blanco;
  &:hover {
    color: $blanco;
  }
}
