.titulo__envios {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5rem;
}

.envios {
  text-align: center;
  @include fcolum();
  @include fcenter();
  margin-bottom: 2.5rem;
  &__texto {
    font-size: 1.15rem;
  }
}
